node_modules/
dist/
.env
data/*
!data/indexer-definitions/
data/indexer-definitions/*
!data/indexer-definitions/definitions/
!data/indexer-definitions/definitions/**
!data/indexer-definitions/VERSIONS
!data/indexer-definitions/README.md
media/*
!media/.gitkeep
downloads/*
!downloads/.gitkeep
*.log
server.log
*.tsbuildinfo
